{% load static from staticfiles %}
<html>
    <head>
        <title>{% block title %}Lacey Williams Henschel{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="{% static "css/blog.css" %}"> --> 
    </head>
    <body>
        <div class="page-header">
            <h1>Lacey Williams Henschel</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                <p>Hi! I'm Lacey, a Pythonista and Djangonaut living in 
                    Portland, OR.</p>
                <p>I started coding when I was 26 as part of an apprenticeship 
                    program with the <a href="http://www.utexas.edu">University of Texas</a>. For UT, I work in an 
                    older mainframe language called NATURAL, so I didn't even 
                    use Django's model structure until recently! </p>
                <p>Over the past year, I've become more involved in the open 
                    source community. I'm member of the <a href="https://djangogirls.org">Django Girls</a> Support 
                    Team, a developer member of the <a href="https://www.djangoproject.com/foundation/">Django Software Foundation</a>, 
                    and I was  both the Diversity and Financial Aid chairs for 
                    <a href="https://2015.djangocon.us/">DjangoCon US 2015</a>. I'm also on the technical board for 
                    <a href="https://www.projectcallisto.org/">Project Callisto</a>, a non-profit that builds tools to help 
                    college victims of sexual assault report their experiences 
                    to their schools and to law enforcement. </p>
                <p>My passion is teaching other people how to code, and getting 
                    other women involved in programming and in the open source 
                    community. If you want to help me do that, I want to hear 
                    from you!</p>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <div class="page-footer">
            <a href="linkedin.com/in/laceynwilliams"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/williln"><i class="fa fa-github"></i></a>
            <a href="http://twitter.com/laceynwilliams"><i class="fa fa-twitter"></i></a>
            <a href="http://instagram.com/lacey_will"><i class="fa fa-instagram"></i></a>
            <a href="http://facebook.com/laceynwilliams"><i class="fa fa-facebook"></i></a>
        </div>
    </body>
</html>