{% extends "jobs/base.html" %}

{% block title %}{% endblock %}

{% block content %}
	<h2>Resume</h2>
	{% for job in jobs %}
		<div>
			<h3>{{ job.title}}</h3>
			<h4><a href="{{ job.url }}">{{ job.company }}</a> | {{ job.city }}, {{ job.state }}</h4>
			<p>{{ job.description }}</p>
			<p>{{ job.start_date|date:"F Y" }} - 
				{% if job.still_working %}
					present 
				{% else %}
					{{ job.end_date|date:"F Y" }}
				{% endif %}
		</div>
	{% endfor %}

	<h2>Writing</h2>
	{% for publication in publications %}
		<div>
			<h3>{{ publication.title}}</h3>
			<h4><a href="{{ publication.url }}">
				{{ publication.publications }}</a>, 
				{{ publication.publish_date|date:"F d, Y" }}</h4>
			<p>{{ publication.description }}</p>
		</div>
	{% endfor %}
{% endblock %}